h1 {
    margin: 30px;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.descricao {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#background_card {
    margin: 68.5px;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
    max-width:900px;
}