@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color:aliceblue;
    background-image: url('../img/fundo/PlanosBG.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    margin-left: 20px;
}

h3 {
    font-size: 25px;
}

span {
    font-size: 30px;
}

#planos {
    border-radius: 15px;
    margin-top: 60px;
    margin-left: 12%;
    background-color:rgba(0, 0, 0, 0.5);    
    width: 1200px;
    max-width: 1300px;
}

.plano_card {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card {
    align-items: center;
    justify-content: center;
}

.card_header {
    align-items: center;
    display: flex;
    font-size: 14px;
    text-align: start;
}

.card-content-area {
    display: flex;
    
}

.card-content-area img {
    max-width: 290px;
}